<h1>Päivitä työtilaan {{workspace}} sivua {{page.pageName}}.</h1>
<form [formGroup]="pageForm" (ngSubmit)="onSubmit(pageForm.value)">
    <div>
        <label for="pagename">
            Sivun nimi:
        </label><br>
        <input id="pagename" type="text" formControlName="pageName" value="page.pagename" required>
    </div>
    <div>
        <label for="pagehtml">
            Sisältö:
        </label><br>
        <textarea id="pagehtml" formControlName="pageHTML" value="page.pageHTML" required></textarea>
    </div>
    <div>
        <label for="visible">
            Näkyvissä:
        </label>
        <input *ngIf="page.visible" type="checkbox" id="visible" formControlName="visible" checked>
        <input *ngIf="!page.visible" type="checkbox" id="visible" formControlName="visible">
    </div>
    <button class="button" type="submit" [disabled]="!pageForm.valid">Päivitä sivun tiedot</button>
</form>